<!DOCTYPE html>

<html>
    <head>
       <%- include("includes/head") %>
    </head>
    <body>
        <%- include("includes/nav") %>
       <h1><%= title %> Page</h1> 
        
        <script src="" async defer></script>
    </body>
</html>